@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

<h3>Cart Page</h3>
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Option</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    @if (ViewBag.cart == null)
    {
        <tr>
            <td></td>
            <td>YOUR CART IS EMPTY</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
    else
    {


        @foreach (var element in ViewBag.cart)
        {
            <tr>
                <td><a class="arrow" style="margin: auto; text-align: center; display: block" asp-controller="Cart" asp-action="Add" asp-route-id="@element.Product.Id" >&#9650;</a> 
                    <br/><br/> <a class="arrow" style="margin: auto; text-align: center; display: block" asp-controller="Cart" asp-action="Remove" asp-route-id="@element.Product.Id">&#9660;</a></td>
                <td class="card-title">@element.Product.Name</td>
                <td><img src="/img/@(element.Product.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px"></td>
                <td class="card-text text-center"><strong>Price: &#8367 @element.Product.DefaultPrice.ToString()</strong></td>
                <td>@element.Quantity </td>
                <td>@(element.Product.DefaultPrice * element.Quantity)</td>
            </tr>
        }
    }
    <tr>
        <td align="right" colspan="6">Sum</td>
        <td>
            @ViewBag.total
        </td>
    </tr>
</table>
<br>
<a asp-controller="Product" asp-action="Index">Continue Shopping</a><br>
<a asp-controller="Cart" asp-action="Checkout"> Checkout</a>

</body>
</html>