@using Microsoft.AspNetCore.Http

@{
    IEnumerable<ProductCategory> productCategories = ViewData["ProductCategories"] as IEnumerable<ProductCategory>;
    IEnumerable<Supplier> suppliers = ViewData["Suppliers"] as IEnumerable<Supplier>;
    int? cartItems = ViewData["cartItemsTotal"] as int?;
    if (cartItems == null)
        cartItems = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" http-equiv="content-type" content="text-html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Argonauts - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
        <div class="container">
            <a class="navbar-brand" style="min-width: 100px" asp-area="" asp-controller="Product" asp-action="Index">Argonauts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex">

                <div class="nav-link text-dark" id="geolocation">Country</div>
                <div class="dropdown" data-control="checkbox-dropdown">
                    <label class="dropdown-label category-select">Select</label>

                    <div class="dropdown-list">
                        <a href="#" data-toggle="check-all" data-string="category-" class="dropdown-option">
                            Check All
                        </a>
                        @foreach (var category in productCategories)
                        {
                            <label class="dropdown-option">
                                <input type="checkbox" name="dropdown-group" value="category-@category.Id" class="checkBox-category"/>
                                @category.Name
                            </label>
                        }
                    </div>
                </div>
                <div class="dropdown" data-control="checkbox-dropdown">
                    <label class="dropdown-label supplier-select">Select</label>

                    <div class="dropdown-list">
                        <a href="#" data-toggle="check-all" data-string="supplier-" class="dropdown-option">
                            Check All
                        </a>

                        @foreach (var supplier in suppliers)
                        {
                            <label class="dropdown-option">
                                <input type="checkbox" name="dropdown-group" value="supplier-@supplier.Id" class="checkBox-supplier"/>
                                @supplier.Name
                            </label>
                        }
                    </div>
                </div>
                @if (Context.Session.GetString("username") == null)
                {
                    <a class="nav-link text-dark" id="login" asp-controller="User" asp-action="Index">Login/Reg</a>
                    <a class="nav-link text-dark fa-solid fa-sailboat" style="min-width: 150px" asp-area="" asp-controller="Cart" asp-action="Index">καλάθι &#129530; (@cartItems)</a>
                }
                else
                {
                    <a class="nav-link text-dark" id="username" asp-controller="User" asp-action="Details">@Context.Session.GetString("username").Replace("\"", "")</a>
                    <a class="nav-link text-dark fa-solid fa-sailboat" style="min-width: 150px" asp-area="" asp-controller="Cart" asp-action="Index">καλάθι &#129530; (@cartItems)</a>
                    <a class="nav-link text-dark" id="logout" asp-controller="User" asp-action="Logout">&#10060;</a>
                }
                <div id="google_translate_element"></div>
            </div>
        </div>
    </nav>
</header>
<div class="greek-motive top-motive"></div>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<div class="greek-motive bottom-motive"></div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 750 BC - 2022 AD - Argonauts - @DateTime.Now.ToString("dd'-'MM'-'yyyy' 'HH':'mm") <a asp-area="" asp-controller="Product" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true" defer></script>
@RenderSection("Scripts", required: false)
</body>
</html>
