@{
    ViewData["Title"] = "Home Page";
}
@model List<Codecool.CodecoolShop.Models.Product>

<div class="container">
    @foreach (var element in Model)
    {
        <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
            <div class="card">
                <img class="product-image" src="/img/@(element.Image)">

                <div class="card-body inner-card">
                    <h5 class="card-title text-center">@element.Name</h5>
                    <p class="card-text">@element.Description.</p>
                    <p class="card-text">Category: @element.ProductCategory.Department</p>
                    <p class="card-text">Supplier: @element.Supplier.Name</p>
                    <p class="card-text text-center"><strong>Price: &#8367 @element.DefaultPrice.ToString()</strong></p>
                </div>
                <a type="button" class="btn btn-light" style="float: bottom" asp-controller="Cart" asp-action="Buy" asp-route-id="@element.Id">Add To Cart</a>
            </div>
            <br/>
        </div>
    }
</div>
